body.login {
  background-color: #1153c6;
}

body p a {
  color: #fff;
}


.login h1 a {
  background-image: url(../img/voetbaluitslagen-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175px;
  width: 200px;
  height: 40px;
}

.login label {
  font-size: 14px;
  color: #555555;
}

.login input[type="text"] {
  background-color: #ffffff;
  border-color: #dddddd;
  -webkit-border-radius: 4px;
}

.login input[type="password"] {
  background-color: #ffffff;
  border-color: #dddddd;
  -webkit-border-radius: 4px;
}

.login .button-primary {
  width: 120px;
  float: right;
  background-color: #1153c6 !important;
  color: #ffffff;
  -webkit-border-radius: 4px;
  border: 1px solid #1153c6;
}

.login .button-primary:hover {
  background-color: #1153c6 !important;
  color: #fff;
  -webkit-border-radius: 4px;
  border: 1px solid #1153c6;
}

.login .button-primary:active {
  background-color: #1153c6 !important;
  color: #fff;
  -webkit-border-radius: 4px;
  border: 1px solid #1153c6;
}

p#backtoblog {
  display: none;
}

p#nav {
  display: none;
}

#be-delete-competitions-button {
  background: red;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  border-radius: 15px;
}